<header class="site-header">
  <div class="site-identity">
    <h1><a href="#" [translate]="'header.title'"></a></h1>
  </div>
  <div class="site-title">
    <p>Ech-cherrate Nour El Houda</p>
  </div>
  <nav class="site-language">
      <ng-select [(ngModel)]="selectedLanguage"
                 (ngModelChange)="changeLanguage()"
                 [items]="languages"
                 bindLabel="name"
                 bindValue="value" >
      </ng-select>


  </nav>

  <select [(ngModel)]="selectedLanguage" (ngModelChange)="changeLanguage()">
    <option value="en">English</option>
    <option value="fr">French</option>
    <!-- Add more language options as needed -->
  </select>



</header>
