a {
  text-decoration: none;
  color: #ffffff;
}

.site-header {
  background-color: #1d2023;
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

p {
  height: 65px;
  display: table-cell;
  vertical-align: middle;
}

.site-identity, .site-title {
  float: left;
}

.site-identity h1,.site-title h2 {
  font-size: 1.5em;
  margin: .7em 0 .3em 0;
  display: inline-block;
}

.site-title {
  padding-left: 1.5em;
}

.site-title p {
  color: #ffffff;
}

.site-language {
  float: right;
  width: 70px;
  margin-top: 1em
}

.site-language {
  display: inherit;
  align-items: center;
  margin-right: 15px;

  .ng-select-container {
    background-color: transparent !important;
    border: 0 !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .ng-select .ng-select-container:hover,
  .ng-select.ng-select-focused,
  .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
  }

  ng-select {
    .ng-dropdown-panel {
      font-size: 12px;
      width: 62px;

      .lang-img {
        margin-right: 5px;
      }
    }

    .lang-img {
      width: 17px;
      height: 17px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
